<?php if ($block->issetOptions()): ?>
    <div class="field cargo_handling">
        <label class="label" for="cargo_handling">
            <span><?= $block->escapeHtml(__('Cargo Handling')) ?></span>
        </label>
        <div class="control">
            <?php $companyValue = 0; ?>
            <select name="company[cargo_handling][]" multiple="multiple" id="cargo_handling"
                class="select"
                title="<?= $block->escapeHtmlAttr(__('Cargo Handling')) ?>">
                <option value=""></option>
                <?php $types = $block->getOptions(); ?>
                <?php foreach ($types as $id => $option) : ?>
                    <option value="<?= $block->escapeHtmlAttr($option['value']) ?>"
                        <?= ($id == $companyValue) ? ' selected' : '' ;?>>
                        <?= $block->escapeHtml($option['label']) ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>
<?php endif; ?>