<?php if ($block->issetOptions()): ?>
    <div class="field interest_area">
        <label class="label" for="interest_area">
            <span><?= $block->escapeHtml(__('Interest Area')) ?></span>
        </label>
        <div class="control">
            <?php $companyValue = 0; ?>
            <select name="company[interest_area][]" multiple="multiple" id="interest_area"
                class="select"
                title="<?= $block->escapeHtmlAttr(__('Interest Area')) ?>">
                <option value=""></option>
                <?php $types = $block->getOptions(); ?>
                <?php foreach ($types as $id => $option) : ?>
                    <option value="<?= $block->escapeHtmlAttr($option['value']) ?>"
                        <?= ($id == $companyValue) ? ' selected' : '' ;?>>
                        <?= $block->escapeHtml($option['label']) ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
    </div>|
<?php endif; ?>